# lobster_tools tutorial

In [14]:
# is this needed?
# import sys
# sys.path.append('../lobster_tools/')

from lobster_tools.base_classes import *

In [15]:
DIRECTORY_PATH = "../data/raw/rand"

In [33]:
data = Data()
lobster = Lobster(data)

In [38]:
# type(lobster.book)
type(lobster.book.first_n_levels(2))

lobster_tools.base_classes.Book

In [41]:
lobster.book

,ask_price_1,ask_size_1,bid_price_1,bid_size_1,ask_price_2,ask_size_2,bid_price_2,bid_size_2,ask_price_3,ask_size_3,...,bid_price_8,bid_size_8,ask_price_9,ask_size_9,bid_price_9,bid_size_9,ask_price_10,ask_size_10,bid_price_10,bid_size_10
datetime,,,,,,,,,,,,,,,,,,,,,
2019-01-02 03:08:36.039858693,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,...,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>
2019-01-02 07:00:00.120718614,NaN,<NA>,0.01,100,NaN,<NA>,NaN,<NA>,NaN,<NA>,...,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>
2019-01-02 07:00:00.120722602,199999.99,100,0.01,100,NaN,<NA>,NaN,<NA>,NaN,<NA>,...,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>
2019-01-02 07:00:20.694625917,39.44,360,0.01,100,199999.99,100,NaN,<NA>,NaN,<NA>,...,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>
2019-01-02 07:09:27.081627778,199999.99,100,0.01,100,NaN,<NA>,NaN,<NA>,NaN,<NA>,...,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-01-03 16:00:45.015530658,38.83,100,38.53,2,38.84,100,37.0,25,NaN,<NA>,...,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>
2019-01-03 16:00:45.015610426,38.84,100,38.53,2,NaN,<NA>,37.0,25,NaN,<NA>,...,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>
2019-01-03 16:00:45.015709896,NaN,<NA>,38.53,2,NaN,<NA>,37.0,25,NaN,<NA>,...,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>
2019-01-03 20:00:00.051332372,NaN,<NA>,38.53,2,NaN,<NA>,NaN,<NA>,NaN,<NA>,...,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>
2019-01-03 20:00:00.065602197,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,...,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>

In [42]:
lobster.book.eval('new_col = (ask_price_1 + bid_price_1 ) / 2', inplace=True)

In [43]:
lobster.book

,ask_price_1,ask_size_1,bid_price_1,bid_size_1,ask_price_2,ask_size_2,bid_price_2,bid_size_2,ask_price_3,ask_size_3,...,bid_size_8,ask_price_9,ask_size_9,bid_price_9,bid_size_9,ask_price_10,ask_size_10,bid_price_10,bid_size_10,new_col
datetime,,,,,,,,,,,,,,,,,,,,,
2019-01-02 03:08:36.039858693,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,...,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN
2019-01-02 07:00:00.120718614,NaN,<NA>,0.01,100,NaN,<NA>,NaN,<NA>,NaN,<NA>,...,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN
2019-01-02 07:00:00.120722602,199999.99,100,0.01,100,NaN,<NA>,NaN,<NA>,NaN,<NA>,...,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,100000.000
2019-01-02 07:00:20.694625917,39.44,360,0.01,100,199999.99,100,NaN,<NA>,NaN,<NA>,...,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,19.725
2019-01-02 07:09:27.081627778,199999.99,100,0.01,100,NaN,<NA>,NaN,<NA>,NaN,<NA>,...,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,100000.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-01-03 16:00:45.015530658,38.83,100,38.53,2,38.84,100,37.0,25,NaN,<NA>,...,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,38.680
2019-01-03 16:00:45.015610426,38.84,100,38.53,2,NaN,<NA>,37.0,25,NaN,<NA>,...,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,38.685
2019-01-03 16:00:45.015709896,NaN,<NA>,38.53,2,NaN,<NA>,37.0,25,NaN,<NA>,...,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN
2019-01-03 20:00:00.051332372,NaN,<NA>,38.53,2,NaN,<NA>,NaN,<NA>,NaN,<NA>,...,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN
2019-01-03 20:00:00.065602197,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,...,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN

In [45]:
a = pd.DataFrame(np.random.randn(4,4))

In [ ]:
event="submission"

In [61]:
Event(7)

In [59]:
Event.__dict__['TRADING_HALT']

In [56]:
# TODO groupby EventGroups
lobster.messages.groupby(by="event").agg({'size':'mean', 'price':'count'})

                              size   price
event
Event.UNKNOWN                 <NA>       0
Event.SUBMISSION         136.76598  364785
Event.CANCELLATION      187.375337    3341
Event.DELETION          136.205331  351540
Event.EXECUTION          96.637813   14302
Event.HIDDEN_EXECUTION  130.647791    1607
Event.CROSS_TRADE              0.0       4
Event.TRADING_HALT            <NA>       0
Event.OTHER                   <NA>       0
Event.RESUME_QUOTE            <NA>       0
Event.TRADING_RESUME          <NA>       0

In [ ]:
(lobster
.book
.get_first_n_levels
.filter_for_exec
.plot_with_cool_)

In [8]:
Data.__flags__

808448

Loading data

In [9]:
data = Data(ticker="AIG", date_range=("2019-01-02","2019-01-03"), levels=2)
lobster = Lobster(data=data)

In [17]:
class T:
    def __init__(self, a) -> None:
        self.a = a
        self.b = "hello"

In [31]:
T(1).__dict__

{'a': 1, 'b': 'hello'}

In [27]:
T(1).__dict__['b'] = 'hi'

In [28]:
T(1).__dict__

{'a': 1, 'b': 'hello'}

In [24]:
T(2).__dict__

{'a': 2, 'b': 'hello'}

In [ ]:
data = Data(ticker="AIG", directory_path=)